.boardRow {
    background-color: blue;
}
table tr {
    background-color: green;
}
td {
    background-color: orange;
    width: 65px;
    height: 65px;
}
body {
    height: 100vh;
    width: 100vw;
}
.noPieceHere {
    background-color: khaki;
}
.redPiece {
    border-radius: 45px;
    border-color: red;
    background-color: red;
    width: 60px;
    height: 60px;
    margin: auto;
}
.blackPiece {
    border-radius: 45px;
    border-color: black;
    background-color: black;
    width: 60px;
    height: 60px;
    margin: auto;
}